<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alex.Framework.Windows.DotNetBar.Admin" version="1.1.1.1" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms" version="6.3.0" targetFramework="net472" />
  <package id="Guna.Charts.WinForms" version="1.0.9" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2420.47" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="25.1.37" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="25.1.37" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2662" targetFramework="net472" />
  <package id="Xander.UI.Web" version="0.1.19" targetFramework="net472" />
</packages>